<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Open Trivia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Open Trivia</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Votre pseudo</ion-label>
        <ion-input type="text" placeholder="Votre pseudo" [(ngModel)]="pseudo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Difficulté</ion-label>
        <ion-select multiple="false" [(ngModel)]="difficulty" placeholder="Sélectionnez une difficulté">
          <ion-select-option value="easy">Facile</ion-select-option>
          <ion-select-option value="medium">Moyen</ion-select-option>
          <ion-select-option value="hard">Difficile</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-toggle [(ngModel)]="isSaved" checked="false"></ion-toggle>
        <ion-label position="end">Sauvegarder mes informations</ion-label>
      </ion-item>
      <ion-button (click)="onStartGame()" expand="full">
        Commencer
      </ion-button>
    </ion-list>
  </div>
</ion-content>