<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Open Trivia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Open Trivia</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list *ngIf="isPlayerForm">
      <ion-item>
        <ion-label position="floating">Votre pseudo</ion-label>
        <ion-input type="text" placeholder="Votre pseudo" [(ngModel)]="pseudo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Difficulté</ion-label>
        <ion-select multiple="false" [(ngModel)]="difficulty" placeholder="Sélectionnez une difficulté">
          <ion-select-option value="easy">Facile</ion-select-option>
          <ion-select-option value="medium">Moyen</ion-select-option>
          <ion-select-option value="hard">Difficile</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-toggle [(ngModel)]="isSaved" checked="false"></ion-toggle>
        <ion-label position="end">Sauvegarder mes informations</ion-label>
      </ion-item>
      <ion-button (click)="onStartGame()" expand="full">
        Commencer
      </ion-button>
    </ion-list>

    <ion-card *ngIf="isQuestion">
      <ion-card-header>
        <ion-card-subtitle color="primary">Bienvenue {{ pseudo }}</ion-card-subtitle>
        <ion-card-title [innerHtml]="currentQuestion.question"></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="6" *ngFor="let answer of currentQuestion.answers">
              <ion-button (click)="!isResponded ? onClickResponse(answer) : ''" [color]="!isResponded ? 'secondary' : (answer === currentQuestion.correct_answer ? 'success' : 'danger')"  expand="full" [innerHtml]="answer">
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
      <ion-button color="tertiary" *ngIf="isNextQuestion" (click)="onNextQuestion()" expand="full">
        Question suivante
      </ion-button>
      <ion-button color="success" *ngIf="isFinished" (click)="onViewResult()" expand="full">
        Voir mes résultats
      </ion-button>
    </ion-card>

    <ion-card *ngIf="isResult">
      <ion-card-header>
        <ion-card-subtitle color="primary">{{ pseudo }}</ion-card-subtitle>
        <ion-card-title>Résultat</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Vous avez obtenu {{ nbCorrectAnswers }} bonne{{ nbCorrectAnswers > 1 ? 's' : ''  }} réponse{{ nbCorrectAnswers >= 1 ? 's' : ''  }} sur {{ questions.length }}</p>
      </ion-card-content>
      <ion-button (click)="onClickRestart()" expand="full" >
        Retourner à l'écran de connexion
      </ion-button>
    </ion-card>
  </div>
</ion-content>